<h1 class="page-header">News</h1>

	{% if items %}
		<p class="alert alert-success">You've setup your DB! Below are dynamic results</p>
		<div class="row-fluid">
			{% for item in items %}
				<div class="span4">
					<h3>{{item.title}}</h3>
					<p>{{item.body}}</p>
				</div>
			{% endfor %}
		</div>
	{% else %}

	<p class="alert alert-info">
		Here you see a sample page layout. Ideally this would pull articles from the database.
	</p>

	<div class="row-fluid">
		<div class="span4">
			<h3>News Heading 1</h3>
			<p>The body of this news article goes here. This would pull from your database of articles.</p>	
			<a href="#" class="btn">Read Article</a>
		</div>

		<div class="span4">
			<h3>News Heading 2</h3>
			<p>The body of this news article goes here. This would pull from your database of articles.</p>
			<a href="#" class="btn">Read Article</a>
		</div>

		<div class="span4">
			<h3>News Heading 3</h3>
			<p>The body of this news article goes here. This would pull from your database of articles.</p>
			<a href="#" class="btn">Read Article</a>
		</div>
	</div>
{% endif %}
